In [25]:
## Modules
"https://pypi.org/project/yahooquery/1.1.0/"
import yfinance as yf 
import json
from yahooquery import Ticker  
import datetime

In [17]:
## Functions

def print_titles(x, y=8):
    list = []
    for i in range(y):
        list.append(x[i]["title"])
    return list

In [18]:
tsla = yf.Ticker("TSLA")

In [19]:
news = tsla.news

In [20]:
#tsla.incomestmt

In [21]:
[print(i) for i in print_titles(news)]

Tesla rival Nio delivers a refreshed electric vehicle
Elon Musk lives life like he’s playing a video game—from ‘demon mode” to gleaning life lessons from ‘Polytopia’
CPI data, AI tech forum: What to watch on Wednesday
Elon Musk sent a graphic mid-childbirth picture of Grimes to friends and family and was surprised when she got upset
How Elon Musk lost a friend over AI: Google co-founder Larry Page just ‘refused to hang out’ after the Tesla CEO stole his top worker
How Tesla's Dojo supercomputer will power the 'Muskonomy'
These Stocks Moved the Most Today: Oracle, Apple, Tesla, WestRock, Advance Auto Parts, Acelyrin, and More
The Real Issue With the Tesla Cybertruck, According to Lotus Top Designer Ben Payne

[None, None, None, None, None, None, None, None]

In [22]:
orcl = Ticker("orcl")
orcl.earning_history

            maxAge  epsActual  epsEstimate  epsDifference  surprisePercent  \
symbol row
orcl   0         1       1.21         1.18           0.03            0.025
       1         1       1.22         1.20           0.02            0.017
       2         1       1.67         1.58           0.09            0.057
       3         1       1.19         1.15           0.04            0.035

               quarter period
symbol row
orcl   0    2022-11-30    -4q
       1    2023-02-28    -3q
       2    2023-05-31    -2q
       3    2023-08-31    -1q

In [39]:
orcl.income_statement()
orcl.balance_sheet()

,asOfDate,periodType,currencyCode,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,AllowanceForDoubtfulAccountsReceivable,BuildingsAndImprovements,CapitalStock,CashAndCashEquivalents,...,TangibleBookValue,TotalAssets,TotalCapitalization,TotalDebt,TotalEquityGrossMinorityInterest,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest,TradeandOtherPayablesNonCurrent,WorkingCapital
symbol,,,,,,,,,,,,,,,,,,,,,
orcl,2020-05-31,12M,USD,6.370000e+08,5.551000e+09,-7.581000e+09,-409000000.0,4.394000e+09,2.648600e+10,3.723900e+10,...,-3.479000e+10,1.154380e+11,8.194300e+10,7.159700e+10,1.271700e+10,1.027210e+11,6.329800e+10,8.552100e+10,1.246300e+10,3.494000e+10
orcl,2021-05-31,12M,USD,7.450000e+08,5.409000e+09,-8.751000e+09,-373000000.0,4.734000e+09,2.653300e+10,3.009800e+10,...,-4.041300e+10,1.311070e+11,8.194700e+10,8.424500e+10,5.952000e+09,1.251550e+11,7.554000e+10,1.009910e+11,1.234500e+10,3.140300e+10
orcl,2022-05-31,12M,USD,1.317000e+09,5.953000e+09,-9.958000e+09,-362000000.0,4.729000e+09,2.680800e+10,2.138300e+10,...,-5.101900e+10,1.092970e+11,6.634200e+10,7.585900e+10,-5.768000e+09,1.150650e+11,7.766400e+10,9.555400e+10,1.221000e+10,1.212200e+10
orcl,2023-05-31,12M,USD,1.204000e+09,6.915000e+09,-1.160500e+10,-428000000.0,5.880000e+09,3.021500e+10,9.765000e+09,...,-7.054200e+10,1.343840e+11,8.797600e+10,9.048100e+10,1.556000e+09,1.328280e+11,1.133800e+11,1.097380e+11,1.107700e+10,-2.086000e+09

In [38]:
orcl.grading_history[:20]

                 epochGradeDate                    firm       toGrade  \
symbol row
orcl   0    2023-09-12 18:15:55             DA Davidson       Neutral
       1    2023-09-12 18:13:50                Barclays    Overweight
       2    2023-09-12 17:26:40      Evercore ISI Group       In-Line
       3    2023-09-12 15:17:36  Monness, Crespi, Hardt       Neutral
       4    2023-09-12 14:58:07          Morgan Stanley  Equal-Weight
       5    2023-09-12 14:20:14                     UBS           Buy
       6    2023-09-12 10:17:36           Piper Sandler    Overweight
       7    2023-09-11 17:16:24               Citigroup       Neutral
       8    2023-09-07 19:06:40               Jefferies           Buy
       9    2023-09-05 11:03:20                Barclays    Overweight
       10   2023-08-29 11:08:36                     UBS           Buy
       11   2023-07-27 11:29:40           Piper Sandler    Overweight
       12   2023-06-14 18:03:14               Citigroup       Neutral
       13   2023-06-14 15:20:47          Morgan Stanley  Equal-Weight
       14   2023-06-14 15:06:09           Goldman Sachs       Neutral
       15   2023-06-13 18:57:47      Evercore ISI Group       In-Line
       16   2023-06-13 18:54:21               JP Morgan    Overweight
       17   2023-06-13 18:52:04             DA Davidson       Neutral
       18   2023-06-13 18:44:17                TD Cowen    Outperform
       19   2023-06-13 18:21:02                  Stifel          Hold

               fromGrade action
symbol row
orcl   0         Neutral   main
       1      Overweight   main
       2         In-Line   main
       3             Buy   down
       4    Equal-Weight   main
       5             Buy   main
       6      Overweight   reit
       7         Neutral   main
       8             Buy   main
       9    Equal-Weight     up
       10        Neutral     up
       11     Overweight   reit
       12        Neutral   main
       13                  main
       14                  main
       15        In-Line   main
       16     Overweight   main
       17        Neutral   main
       18                  main
       19           Hold   main

In [34]:
orcl.history("10y", "1d")

                         open        high         low       close    volume  \
symbol date
orcl   2013-09-13   32.840000   32.869999   32.349998   32.459999  17638400
       2013-09-16   32.840000   33.150002   32.779999   32.970001  25316900
       2013-09-17   32.990002   33.430000   32.930000   33.259998  20282300
       2013-09-18   33.209999   33.910000   33.130001   33.869999  39152100
       2013-09-19   33.639999   34.000000   33.250000   33.889999  63316300
...                       ...         ...         ...         ...       ...
       2023-09-06  123.059998  124.580002  122.730003  124.330002   8728500
       2023-09-07  123.830002  125.959999  122.589996  125.089996  11864400
       2023-09-08  124.800003  126.690002  124.349998  126.320000  10595500
       2023-09-11  127.019997  127.419998  124.720001  126.709999  22155600
       2023-09-12  112.080002  113.300003  107.300003  109.610001  68514100

                     adjclose  dividends
symbol date
orcl   2013-09-13   27.794516        0.0
       2013-09-16   28.231215        0.0
       2013-09-17   28.479534        0.0
       2013-09-18   29.001852        0.0
       2013-09-19   29.018978        0.0
...                       ...        ...
       2023-09-06  124.330002        0.0
       2023-09-07  125.089996        0.0
       2023-09-08  126.320000        0.0
       2023-09-11  126.709999        0.0
       2023-09-12  109.610001        0.0

[2516 rows x 7 columns]

In [31]:
datetime.date.today()

datetime.date(2023, 9, 13)