In [1]:
from sklearn import tree
import numpy as np 
import pandas as pd
from sklearn.datasets import load_iris
import graphviz
import numpy as np 
import pandas as pd
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, accuracy_score,precision_score, recall_score
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_graphviz
from sklearn.preprocessing import LabelEncoder
import graphviz
import graphlib
from sklearn.model_selection import train_test_split

In [47]:
column_names = ["Status of existing checking account", "Duration in Month", "Credit history", "Purpose", "Credit amount", "Saving account/bonds", "Present employment since", "Installment rate in percentage of disposable income", "Personal status and sex", "Other debtors", "Present residence since", "Property", "Age in years", "Other installment plans", "Housing", "Num of existing credits at this bank", "Job", "Number of people being liable to provide maintenance for", "Telephone", "foreign worker"]
df = pd.read_csv("./Data/german.data", sep=" ", header=None, names=column_names, index_col=0)
df.set_index(list(df.))            
df

,Status of existing checking account,Duration in Month,Credit history,Purpose,Credit amount,Saving account/bonds,Present employment since,Installment rate in percentage of disposable income,Personal status and sex,Other debtors,Present residence since,Property,Age in years,Other installment plans,Housing,Num of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,foreign worker
A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201,1
A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201,2
A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201,1
A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201,1
A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A14,12,A32,A42,1736,A61,A74,3,A92,A101,4,A121,31,A143,A152,1,A172,1,A191,A201,1
A11,30,A32,A41,3857,A61,A73,4,A91,A101,4,A122,40,A143,A152,1,A174,1,A192,A201,1
A14,12,A32,A43,804,A61,A75,4,A93,A101,4,A123,38,A143,A152,1,A173,1,A191,A201,1
A11,45,A32,A43,1845,A61,A73,4,A93,A101,4,A124,23,A143,A153,1,A173,1,A192,A201,2
A12,45,A34,A41,4576,A62,A71,3,A93,A101,4,A123,27,A143,A152,1,A173,1,A191,A201,1